
<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>


<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5" style="margin: auto;width: 60%;">
                <form action="/forgot-password" method="post" class="p-5 bg-white" style="margin: auto;width: 100%;">
                    <h4 style="text-align: center;">Enter your email address</h4>
                    <%if(locals.display) {%>
                        <% if(locals.emailNotFound){ %>
                                <strong style="text-align: center;color:red;">Email not found!</strong>
                        <% }else{ %>
                        <% if(!locals.emailSent){ %>
                            <div class="alert alert-success" role="alert">
                                <strong>Password reset link has been sent your email</strong>
                            </div>
                        <% }else{%>
                            <div class="alert alert-success" role="alert">
                                <strong>Password reset link has been sent your email</strong>
                            </div>
                        <% } %>
                    <% } } %>
                    <div class="row form-group" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12" >
                            <input type="submit" value="Reset" id="btnsend" name="btnsend" class=" form-control btn btn-primary py-2 px-4">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<% include ../layout/footer-public.ejs %>