<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5" style="margin: auto;width: 60%;">
                <form action="/reset-password" method="post" class="p-5 bg-white" style="margin: auto;width: 100%;">
                    <% if(!locals.correct){ %>
                        <div class="alert alert-danger" role="alert">
                            <strong>Invalid token</strong>
                        </div>
                    <% }else{%>
                    <% } %>
                    <% if(locals.display) {%>
                        <% if(locals.changed){ %>
                            <p style="text-align: center;font-weight: bold;font-size: 20px;">Congratulations</p>
                            <p style="text-align: center;">Password has been successfully changed. Click to <a href="/login">here</a> to login </p>
                        <% }else{ %>
                            <div class="alert alert-danger" role="alert">
                                <strong>Error changing password</strong>
                            </div>
                    <% }
                    }%>

                    <% if(locals.changed){ }else{%>
                    <h4 style="text-align: center;">Reset Your Password</h4>
                    <div class="row form-group" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <input type="email" name="email" id="email" value="<%=locals.email%>" class="form-control input-lg" placeholder="Email Address" tabindex="1" required hidden />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" tabindex="5" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                               onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                    if(this.checkValidity()) form.conpassword.pattern = RegExp.escape(this.value);" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                        <input type="password" name="conpassword" id="conpassword" class="form-control" placeholder="Confirm Password" tabindex="6"
                               title="Please enter the same Password as above" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                               onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"/>
                        <span id='message'></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12" >
                            <input type="submit" value="Reset" id="btnreset" name="btnreset" class=" form-control btn btn-primary py-2 px-4">
                        </div>
                    </div>
                    <% } %>
                </form>
            </div>

        </div>
    </div>
</div>

<% include ../layout/footer-public.ejs %>