<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 mb-5" style="margin: auto;">
                <form action="/signup" method="post" class="p-5 bg-white" style="margin: auto;text-align: center;">
                    <h3 style="text-align: center;">Group 3 Freelance</h3>
                    <% if(signUpErrorMessage){ %>
                    <div class="alert alert-danger" role="alert">
                        <strong><%=signUpErrorMessage%></strong>
                    </div>
                    <% }else if(signUpSuccessMessage){%>
                    <div class="alert alert-success" role="alert">
                        <strong><%=signUpSuccessMessage%></strong>
                    </div>
                    <% } %>
                    <div class="row form-group" style="margin-top: 20px;">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold " for="role">Sign Up As</label>
                            <select name="role" id="role" class="form-control" tabindex="1" required>
                                <option value="2" >Freelancer</option>
                                <option value="1">Client</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="text" id="username" name="username" class="form-control" placeholder="User Name" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers"
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                       onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                    if(this.checkValidity()) form.conpassword.pattern = RegExp.escape(this.value);" required/>
                            <div id="strengthMessage"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="password" name="conpassword" id="conpassword" class="form-control input-lg" placeholder="Confirm Password" tabindex="6"
                                   title="Please enter the same Password as above" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                   onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');" required/>
                            <div id="matchMessage"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input type="checkbox" class="hidden" value="1" required/>
                                <label class="form-check-label" for="exampleCheck1">I Agree</label>
                            </div>
                            <div class="col-md-12" style="text-align: center;">
                                <p>By clicking <strong class="label label-primary alink" >Sign Up</strong>, you agree to the Terms and Conditions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Sign Up" class="btn btn-success  py-2 px-4">
                        </div>
                    </div>
                    <hr />
                    <div class="row form-group">
                        <div class="col-md-12">
                            <p>Already a member ? <a class="alink" href="/login">Login</a></p>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<% include ../layout/footer-public.ejs %>
<script src="/jscontroller/validation.js"></script>