<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 mb-5" style="margin: auto;">
                <form action="#" method="post" class="p-5 bg-white">
                    <%if(verify === "success"){%>
                        <h4 style="text-align: center;font-weight: bold;">Congratulations</h4>
                        <p style="text-align: center;">Your account has been successfully verified. Click to <a href="/login">here</a> to login </p>
                    <% }else{ %>
                        <h4 style="text-align: center;font-weight: bold;">Error</h4>
                        <p style="text-align: center;"><%=verify%></p>
                    <% } %>
                </form>
            </div>

        </div>
    </div>
</div>

<% include ../layout/footer-public.ejs %>