<!-- Modal -->
<div class="modal fade" id="freelancer-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Freelancer Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-6">
                        <img src="/img/avatar.jpg" width="200px" id="pic" name="pic" height="200px" alt="picture"/>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="firstname" class="">Name:</label>
<!--                            <div class="row" >-->
                                <label name="firstname" id="firstname" style="margin-right:5px;"></label>
                                <label name="lastname" id="lastname"></label>
<!--                            </div>-->
                        </div>
                        <div class="position-relative form-group">
                            <label for="country" class="">Country: </label>
                            <label name="country" id="country"></label>
                        </div>
                        <div class="position-relative form-group">
                            <a class="btn btn-success" id="btnsendfree">View Full Profile</a>
                        </div>
                        <!-- <div class="position-relative form-group">
                            <label for="education" class="">Proj: </label>
                            <div class="education" id="eduaction">

                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <% if(job){
                    if(job.status !== "awarded"){ %>
                        <a class="mt-2 btn btn-success" style="color:white;" id="btnaward" name="btnaward">Award</a>
                    <% }else{ %>
                        <p>Job has already been awarded</p>
                    <% }
                 } %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>