<!-- Modal -->
<div class="modal fade col-md-10 col-lg-5" style="" id="jobModal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="" style="margin: auto;width:100%">
                <div class="p-5 bg-white">

                    <div class="mb-4 mb-md-5 mr-5">
                        <div class="job-post-item-header d-flex align-items-center">
                            <h2 class="mr-3 text-black h4">Job Title</h2>
                            <div class="badge-wrap">
                                <span class="bg-success text-white badge py-2 px-4">$ 200</span>
                            </div>
                        </div>
                        <div class="job-post-item-body d-block d-md-flex">
                            <div class="mr-3"><span class="fl-bigmug-line-portfolio23 alink"></span> <a href="#" class="" style="color: #0b0b0b">Category</a></div>
                            <div><span class="fl-bigmug-line-big104 alink"></span> <span style="color: #0b0b0b">Country</span></div>
                        </div>
                    </div>
                    <div style="max-height: 500px;max-width:100%;overflow-y: auto;overflow-x: auto;">
                        <p>something sadoenf edfienow</p>
                    </div>
                   
                </div>
            </div>
            </div>
        </div>
    </div>
</div>