<!-- Modal -->
<div class="modal fade col-md-10 col-lg-5" style="margin: auto;" id="freelanceReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="" style="margin: auto;width:100%">
                <form action="#" id="fmfree" name="fmfree" method="post" class="p-5 bg-white" style="margin: auto;">
                    <h3 style="text-align: center;">Review Freelancer</h3>
                    <input type="text" value="<%=job.id%>" id="JobId" name="JobId" hidden />
                    <div class="row form-group" style="margin-top: 20px;">
                        <div class="col-md-12 col-sm-6">
                            <textarea id="free_review" name="free_review" class="form-control" placeholder="Review"><%=contract_details.freelance_review%></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="free_rating" name="free_rating" value="1" <% if(contract_details.freelance_rating===1){ %> checked <% }else{} %> > <i class="fa fa-star h5"></i>
                                </label>
                              </div>
                              <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" id="free_rating" name="free_rating" value="2" <% if(contract_details.freelance_rating===2){ %> checked <% }else{} %> ><i class="fa fa-star h4"></i>
                                </label>
                              </div>
                              <div class="form-check-inline disabled">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" id="free_rating" name="free_rating" value="3" <% if(contract_details.freelance_rating===3){ %> checked <% }else{} %> ><i class="fa fa-star h3"></i>
                                </label>
                              </div>
                              <div class="form-check-inline disabled">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" id="free_rating" name="free_rating" value="4" <% if(contract_details.freelance_rating===4){ %> checked <% }else{} %> ><i class="fa fa-star h2"></i>
                                </label>
                              </div> 
                              <div class="form-check-inline disabled">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" id="free_rating" name="free_rating" value="5" <% if(contract_details.freelance_rating===5){ %> checked <% }else{} %> ><i class="fa fa-star h1"></i>
                                </label>
                              </div>  
                        </div>
                    </div>

                    <p class="text-center text-muted ">
                        <input type="submit" id="btnreviewfreelancer" name="btnreviewfreelancer" class="btn btn-success" value="Submit">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>