<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <div class="main-card mb-3 card col-md-12" style="height:800px;">
                <div class="card-body"><h5 class="card-title" style="color:#4d4d4d!important" >My Portfolio</h5>
                    <div class="justify-content-end" style="float:right;">
                        <a class="btn btn-success" href="/user/add-portfolio">Add</a>
                    </div>
                    <table class="table" id="portfolio_tb">
                        <thead>
                        <tr>
                            <th>Date Added</th>
                            <th>Title</th>
                            <th>Details</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% user.Portfolio.map( p => { %>
                        <tr style="cursor: pointer;">
                            <td><%=p.createdAt%></td>
                            <td ><%=p.title%></td>
                            <td><%=p.description%></td>
                            <td><a class="btn btn-success" href="/user/portfolio/<%=p.id%>">View</a></td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<% include ../layout/footer-portal.ejs %>