<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <% include ../forms/qualification-form.ejs %>
        </div>
<% include ../layout/footer-portal.ejs %>