<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>

<div class="site-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
          <h2 class="font-weight-bold text-black" data-aos="fade">How It Works</h2>
          <p>Learn How to use the platform effectively</p>
        </div>
      </div>
      <div class="row top-destination">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
          <a href="/signup" class="place text-black">
            <img src="img/signup.png" alt="Image placeholder">
            <h2 >Signup</h2>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
          <a href="/login" class="place text-black">
            <img src="img/login.png" alt="Image placeholder">
            <h2>Login</h2>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
          <a href="/user/profile" class="place text-black">
            <img src="img/profile.png" alt="Image placeholder">
            <h2>Update Profile</h2>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
          <a href="/user/post-job" class="place text-black">
            <img src="img/post.png" alt="Image placeholder">
            <h2>Post/Apply For Jobs</h2>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
          <a href="/user/my-jobs/awarded" class="place text-black">
            <img src="img/award.png" alt="Image placeholder">
            <h2>Award/Accept Jobs</h2>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
          <a href="/user/my-jobs/awarded" class="place text-black">
            <img src="img/complete.png" alt="Image placeholder">
            <h2>Complete Job</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- END section -->

<% include ./layout/footer-public.ejs %>