<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">

            </div>
        </div>
        <div class="row">
            <div class="main-card mb-3 card col-md-12">
                <div class="card-body">
            <% if(user.UserAccount.RoleId===1){ %>
            <div class="alert alert-danger justify-content-center col-md-8" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <p>An error was encountered making a payment of $<%=amount%>. <a onclick="window.history.back()">Go back to workspace</a> </p>
                <p class="mb-0">Try again. If problem persists, contact support</p>
            </div>
            <% }else if(user.UserAccount.RoleId===2){ %>
                <div class="alert alert-danger justify-content-center col-md-8" role="alert">
                    <h4 class="alert-heading">Error!</h4>
                    <p>An error was encountered transferring payment of $<%=amount%> to your account. <a onclick="window.history.back()">Go back to workspace</a></p>
                    <p class="mb-0">Try again. If problem persists, contact support</p>
                </div>
            <% } %>
            </div>
            </div>

        </div>
<% include ../layout/footer-portal.ejs %>