<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">

            </div>
        </div>
        <div class="row">
            <div class="main-card mb-3 card col-md-12">
                <div class="card-body">
            <% if(user.UserAccount.RoleId===1){ %>
                <div class="alert alert-success justify-content-center col-md-8" role="alert">
                    <h4 class="alert-heading">Successful!</h4>
                    <p>You have successfully made a payment of $<%=amount%>. <a onclick="window.history.back()">Go back to workspace</a></p>
                    <p class="mb-0">Write to support for any problem</p>
                </div>
            <% }else if(user.UserAccount.RoleId===2){ %>
                <div class="alert alert-success justify-content-center col-md-8" role="alert">
                    <h4 class="alert-heading">Successful!</h4>
                    <p>Payment of $<%=amount%> has been to your stripe account. <a onclick="window.history.back()">Go back to workspace</a></p>
                    <p class="mb-0">Write to support for any problem.</p>
                </div>  
            <% } %>
                </div>
                </div>
        </div>
<% include ../layout/footer-portal.ejs %>