<% include ../layout/header-portal.ejs %>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">

            </div>
        </div>
        <div class="row">
            <div class="alert alert-success">
                <p>Payment was successful. Job can now start</p>
            </div>
        </div>
<% include ../layout/footer-portal.ejs %>