

</div>
</div>
</div>
<script type="text/javascript" src="/userAssets/scripts/main.js"></script>
<script type="text/javascript" src="/vendor/jquery/jquery.js"></script>

<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

<script src="/jscontroller/postjob.js"></script>
<script src="/jscontroller/chat.js"></script>
<script src="/jscontroller/workspace.js"></script>
<script src="/jscontroller/adminsettings.js"></script>
<script src="/jscontroller/adminuser.js"></script>
<script src="/jscontroller/jobtable.js"></script>
<script src="/jscontroller/validation.js"></script>
</body>
</html>
<!---->


