<!-- FOOTER -->
<footer class="main-footer" style="background-color: white;">

    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center-md">
                    <p>&copy; 2020. Group 3 Freelancer</p>
                </div>
                <div class="col-lg-8 text-right text-center-md">
                    <p>Designed by <a href="https://bootstrapious.com/p/big-bootstrap-tutorial">Group 3 </a></p>
                    <!-- Please do not remove the backlink to us unless you purchase the Attribution-free License at https://bootstrapious.com/donate. Thank you. -->
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- Javascript files-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/vendor/waypoints/lib/jquery.waypoints.min.js"> </script>
<script src="/vendor/jquery.counterup/jquery.counterup.min.js"> </script>
<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
<script src="/js/jquery.parallax-1.1.3.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/vendor/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="/js/front.js"></script>
<script src="/jscontroller/auth.js"></script>
<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="/jscontroller/jobtable.js"></script>
</body>
</html>