<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Group 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Freelance Website By Group3">
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/fl-bigmug-line.css">

    <link href="/userAssets/custom.css" rel="stylesheet">
    <link href="/userAssets/main.css" rel="stylesheet">
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div class="app-header__logo">
            <a href="/" class=""><img src="/img/amalogo.png" width="150px" height="110px"/></a>
            <div class="header__pane ml-auto" style="margin-right: 10px;">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu" style="margin-left: 30px;">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box alink">
                            <span class="hamburger-inner"></span>
                        </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu" style="margin-right: 10px;">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
        </div>
        <div class="app-header__content">
            <div class="app-header-left" style="margin-left: 40px;">
                <!-- <ul class="header-menu nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="nav-link-icon fa fa-home"> </i>
                            Home
                        </a>
                    </li>
                </ul> -->
            </div>
            <div class="app-header-right">
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                        <img width="42" class="rounded-circle" src="/images/<%=user.picture%>" alt="">
                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                        <a href="/user/profile" type="button" tabindex="0" class="dropdown-item">My Profile</a>
                                        <a href="/logout" type="button" tabindex="0" class="dropdown-item">Log Out</a>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    <%=user.UserAccount.username%>
                                </div>
                                <div class="widget-subheading">
                                    <%if(user.UserAccount.RoleId === 1){%>
                                        Client
                                    <%}else if(user.UserAccount.RoleId === 2){%>
                                        Freelancer
                                    <% }else{ %>
                                        Admin
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-main">
<% if(user.UserAccount.RoleId === 1){ %>
    <% include ../layout/menu-portal-client.ejs %>
<% }else if(user.UserAccount.RoleId === 2){ %>
    <% include ../layout/menu-portal-freelancer.ejs %>
<% }else if(user.UserAccount.RoleId === 3){ %>
    <% include ../layout/menu-portal-admin.ejs %>
<% } %>