<div class="unit-5 overlay" style="background-image: url('#');">
    <div class="container text-center">
        <h2 class="mb-0">Sign Up</h2>
        <p class="mb-0 unit-6"><a href="/">Home</a> <span class="sep">></span> <span>Sign Up</span></p>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <% if(signUpErrorMessage){ %>
            <div class="alert alert-danger" role="alert">
                <strong><%=signUpErrorMessage%></strong>
            </div>
            <% }else if(signUpSuccessMessage){%>
                <div class="alert alert-success" role="alert">
                    <strong><%=signUpSuccessMessage%></strong>
                </div>
            <% } %>
            <div class="col-md-12 col-lg-8 mb-5">
                <form action="/signup" method="post" class="p-5 bg-white">
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label for="role">Register As</label>
                            <select name="role" id="role" class="form-control input-lg" tabindex="1" required >
                                <option value="2">Freelancer</option>
                                <option value="1">Client</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="firstname">Full Name</label>
                            <div class="row">
                                <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" required>
                                <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="User Name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="email">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="password">Password</label>
                            <div>
                                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers"
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                       onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                    if(this.checkValidity()) form.conpassword.pattern = RegExp.escape(this.value);" />

                                <input type="password" name="conpassword" id="conpassword" class="form-control input-lg" placeholder="Confirm Password" tabindex="6"
                                       title="Please enter the same Password as above" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                       onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"/>
                                <span id='message'></span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="col-xs-4 col-sm-3 col-md-3">
                                <span class="button-checkbox">
                                    <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                                    <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1" required/>
                                </span>
                            </div>
                            <div class="col-xs-8 col-sm-9 col-md-9">
                                By clicking <strong class="label label-primary">Sign Up</strong>, you agree to the Terms and Conditions.
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Sign Up" class="btn btn-primary  py-2 px-4">
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-lg-4">
                <div class="p-4 mb-3 bg-white">
                    <h3 class="h5 text-black mb-3">Terms & Conditions</h3>
                    <p>Terms and conditions will be placed here</p>
                </div>
            </div>
        </div>
    </div>
</div>