<div class="main-card mb-3 card col-md-12" style="margin: auto; height:650px;">
    <div class="card-header">
        <h5 class="card-title" style="color:#4d4d4d!important">Portfolio Details</h5>
    </div>
    <div class="card-body">
        <form class="" action="/user/add-portfolio" method="post" enctype = "multipart/form-data" style="margin:auto;width: 100%">
            <input name="id" id="id" placeholder="" type="text" class="form-control" value="" hidden><br />
            <div class="row">
            <div class="form-row">
                <div class="col-md-10">
                    <div class="position-relative form-group">
                        <label for="title" class="">Title</label>
                        <input name="title" id="title"  placeholder="" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="position-relative form-group">
                        <label for="lastname" class="">Description</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="position-relative form-group">
                        <label for="projectLinks" class="">Project Links</label>
                        <textarea class="form-control" id="projectLinks" name="projectLinks"></textarea>
                    </div>
                </div>
                <div>
                    <div class="position-relative form-group">
                        <!-- <label style="cursor:pointer" title="Select A picture">
                            <img src="/img/avatar.jpg" id="picture" name="picture" alt="No picture" style="margin-bottom:10px;"/> 
                            <input name="picture" id="picture" type="file" title="Select A Picture" style="display:none" accept="image/*" /> 
                        </label> -->
                        <div class="upload-btn-wrapper">
                            <button class="btncustom">Upload a file</button>
                            <input type="file" name="picture" id="picture" />
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" class="mt-2 btn btn-success py-2 px-4" value="Add" >
            </div>
        </form>
    </div>
</div>