<div class="main-card mb-3 card col-md-12" style="height: 650px;">
    <div class="card-header">
        <h5 class="card-title" style="color:#4d4d4d!important">Change Password</h5>
    </div>
    <div class="card-body">
        <%if(passwordChangeMessage !== ""){ %>
            <%if(passwordChangeMessage === "Update Successful"){%>
                <div class="alert alert-success" role="alert">
                    Update Successful
                </div>
            <% } else if(passwordChangeMessage==="Error Updating"){%>
                <div class="alert alert-danger" role="alert">
                    <%=passwordChangeMessage%>
                </div>
            <% }else if(passwordChangeMessage==="Old password is incorrect"){%>
                <div class="alert alert-danger" role="alert">
                    <%=passwordChangeMessage%>
                </div>
            <%}else if(passwordChangeMessage==="Passwords do not match"){%>
                <div class="alert alert-danger" role="alert">
                    <%=passwordChangeMessage%>
                </div>
            <% }else{} }%>
        <form class="" action="change-password" method="post">
            <input name="id" id="id" placeholder="" type="text" class="form-control" value="<%=user.UserAccount.id%>" hidden ><br />
            <div class="position-relative row form-group">
                <label for="oldpassword" class="col-sm-2 col-form-label">Old Password</label>
                <div class="col-md-6 col-sm-10">
                    <input name="oldpassword" id="oldpassword" placeholder="Old Password" type="password" class="form-control">
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="password1" class="col-sm-2 col-form-label">New Password</label>
                <div class="col-md-6 col-sm-10">
                    <input name="password1" id="password1" placeholder="New Password" type="password" class="form-control"
                           title="Password must contain at least 6 characters, including UPPER/lowercase and numbers"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                           onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                    if(this.checkValidity()) form.password2.pattern = RegExp.escape(this.value);"/>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="password2" class="col-sm-2 col-form-label">Confirm New Password</label>
                <div class="col-md-6 col-sm-10">
                    <input name="password2" id="password2" placeholder="Confirm New Password" type="password" class="form-control"
                           title="Please enter the same Password as above" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                           onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');" />
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" class="mt-2 btn btn-success" value="Update">
            </div>
        </form>
    </div>
</div>