<form role="form" action="/forgot-password" method="post" class="">
    <h2>Enter your email</h2>
    <hr class="colorgraph">
    <%if(locals.display) {%>
        <% if(!locals.emailSent){ %>
            <div class="alert alert-success" role="alert">
                <strong>Password reset link has been sent your email</strong>
            </div>
        <% }else{%>
            <div class="alert alert-success" role="alert">
                <strong>Password reset link has been sent your email</strong>
            </div>
        <% } %>

        <% if(locals.emailNotFound){ %>
            <div class="alert alert-danger" role="alert">
                <strong>Email not found</strong>
            </div>
        <% } %>
    <% } %>
    <div class="form-group">
        <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="1" required />
    </div>

    <hr class="colorgraph">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-xs-12 col-md-6"><input type="submit" id="btnsend" name="btnsend" value="Send" class="btn btn-primary btn-block btn-lg" tabindex="2"></div>
    </div>
</form>