<div class="card col-md-12 shadow p-3 mb-5 bg-white rounded" style="background-color: #6aae7a !important;margin-top:20px;margin-bottom: 200px;">
    <form action="/jobs" method="post" >
        <div class="row form-group">
            <div class="col-md-4 ">
                <input type="text" id="keyword" name="keyword" class="form-control rounded" placeholder="eg. Website" />
            </div>
            <div class="col-md-4">
                <div class="select-wrap">
                    <span class="icon-keyboard_arrow_down arrow-down"></span>
                    <select name="category" id="category" class="form-control rounded">
                        <option value="all" >All</option>
                        <% category.map(cat =>{ %>
                        <option value="<%=cat.id%>" ><%=cat.name%></option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="col-md-4 ">
                <input type="submit" class="btn btn-primary btn-block rounded" value="Search">
            </div>
        </div>
    </form>
</div> <!-- card.// -->
