<div class="main-card mb-3 card col-md-12">
    <div class="card-header">
        <h5 class="card-title" style="color:#4d4d4d!important">Job Details</h5>
    </div>
    <div class="card-body">
            <% if(errorMessage){ %>
            <div class="alert alert-danger" role="alert">
                <strong><%=errorMessage%></strong>
            </div>
            <% }else if(successMessage){%>
            <div class="alert alert-success" role="alert">
                <strong><%=successMessage%></strong>
            </div>
            <% } %>
        <form class="fmjob justify-content-center" action="/user/post-job" id="fmjob" method="post">
            <div class="form-row">
                <div class="col-md-10">
                    <div class="position-relative form-group">
                        <label for="category" class="">Category/Industry</label>
                        <select name="category" id="category" class="form-control" required >
                            <% category.map(cat =>{ %>
                            <option value="<%=cat.id%>" ><%=cat.name%></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="position-relative form-group">
                        <label for="title" class="">Title</label>
                        <input name="title" id="title" placeholder="Job title" type="text" class="form-control" required />
                    </div>
                    <div class="position-relative form-group">
                        <label for="details" class="">Details</label>
                        <textarea name="details" id="details" rows="3" placeholder="Job Details" class="form-control" required ></textarea>
                    </div>
                    <div class="position-relative form-group">
                        <label for="timeLength" class="">Estimated length of job</label>
                        <select name="timeLength" id="timeLength" class="form-control" required>
                            <option value="Less than 1 month">Less than 1 month</option>
                            <option value="1 month">1 month</option>
                            <option value="More than 1 month">More than 1 month</option>
                        </select>
                    </div>
                    <div class="position-relative form-group">
                        <label for="price" class="">Price</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <a href="#" class="btn btn-success">USD</a>
                            </div>
                            <input name="price" id="price" placeholder="price" type="number" min="1" class="form-control" required />
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label for="skills" class="">Skills(Enter skills associated with job separated by comma, Optional)</label>
                        <select name="skills" id="skills" class="custom-select" required>
                            <option value="Software Development">Software Development</option>
                            <option value="Mobile App Development">Mobile App Development</option>
                            <option value="Photography">Photography</option>
                            <option value="Data Analysis">Data Analysis</option>
                            <option value="Graphic Design">Graphic Design</option>
                            <option value="Business Analyst">Business Analyst</option>
                            <option value="Software Testing">Software Testing</option>
                            <option value="Photography">Photography</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="submit" id="btnpost" name="btnpost" class="mt-2 btn btn-success" value="Post">
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>