<form role="form" action="/reset-password" method="post" class="">
    <h2>Reset your password</h2>
    <hr class="colorgraph">
        <% if(!locals.correct){ %>
            <div class="alert alert-danger" role="alert">
                <strong>Invalid token</strong>
            </div>
        <% }else{%>
        <% } %>
        <% if(locals.display) {%>
        <% if(locals.changed){ %>
            <p style="text-align: center;font-weight: bold;font-size: 20px;">Congratulations</p>
            <p style="text-align: center;">Password has been successfully changed. Click to <a href="/login">here</a> to login </p>
        <% }else{ %>
            <div class="alert alert-danger" role="alert">
                <strong>Error changing password</strong>
            </div>
        <% }
        }
        %>
        <div class="form-group">
            <input type="email" name="email" id="email" value="<%=locals.email%>" class="form-control input-lg" placeholder="Email Address" tabindex="1" required hidden />
        </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                       onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                    if(this.checkValidity()) form.conpassword.pattern = RegExp.escape(this.value);" />
            </div>
            <div class="form-group">
                <input type="password" name="conpassword" id="conpassword" class="form-control input-lg" placeholder="Confirm Password" tabindex="6"
                       title="Please enter the same Password as above" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                       onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"/>
                <span id='message'></span>
            </div>

    <hr class="colorgraph">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-xs-12 col-md-6"><input type="submit" id="btnreset" name="btnreset" value="Reset" class="btn btn-primary btn-block btn-lg" tabindex="2"></div>
    </div>
</form>