body {
    line-height: 1.7 !important;
    color: #4d4d4d !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.btn-primary{
    background-color: #3ac47d !important;
    border-color: #3ac47d !important;
}
.app-sidebar__heading{
    color: #3ac47d !important;
}
.card-title{
    color: #3ac47d !important;
}

.btn-success{
    color: #fff !important;
    background-color: #3ac47d !important;
    border-color: #3ac47d !important;
}
.alink{
    color:#3ac47d !important;
}

.form-control:focus {
    border-color: #3ac47d !important;}
.form-control select option:hover{
    background-color: #fff !important;
}
.vertical-nav-menu li a:hover{
    background-color: #99e4b7 !important;
    color: #fff;
    font-weight: bold;
}
.dropdown-menu a:hover{
    color: #fff;
    background-color: #99e4b7 !important;
}
.card-header>.nav .nav-link.active{
    color:  #3ac47d !important;
}
.card-header>.nav .nav-link:hover{
    color:  #3ac47d !important;
}
.nav-link:hover {
    color:  #3ac47d !important;
}

.card-header > .nav .nav-link::before{
    background: #3ac47d !important;
}
.Short {
    width: 100%;
    background-color: #dc3545;
    margin-top: 5px;
    height: 3px;
    color: #dc3545;
    font-weight: 500;
    font-size: 12px;
  }
  .Weak {
    width: 100%;
    background-color: #ffc107;
    margin-top: 5px;
    height: 3px;
    color: #ffc107;
    font-weight: 500;
    font-size: 12px;
  }
  .Good {
    width: 100%;
    background-color: #28a745;
    margin-top: 5px;
    height: 3px;
    color: #28a745;
    font-weight: 500;
    font-size: 12px;
  }
  .Strong {
    width: 100%;
    background-color: #d39e00;
    margin-top: 5px;
    height: 3px;
    color: #d39e00;
    font-weight: 500;
    font-size: 12px;
  }
  .inputdisabled {
    border: none; 
    background: #fff;
    outline: none;
  }

  .selectdisabled {
    border: none; 
    background: #fff;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btncustom {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
  }
  .dataTables_filter { 
      display: none;
    } 

  .box-anchor{
      background-color: #777B7E !important;
  }

  .box-other{
    background-color: #3E424B !important;
}

.box-other2{
  background-color: #3E424B !important;
}
