.body{
    font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;

}
.btn-primary{
    background-color: #26baee !important;
    border-color: #26baee !important;
}
.app-sidebar__heading{
    color: #4d4d4d !important;
}
.card-title{
    color: #4d4d4d !important;
}
