
.btn-primary{
    background-color: #37A000 !important;
    border-color: #37A000 !important;
}
.app-sidebar__heading{
    color: #37A000 !important;
}
.card-title{
    color: #37A000 !important;
}

.btn-success{
    color: #fff;
    background-color: #37A000;
}
.alink{
    color:#37A000 !important;
}

.form-control:focus {
    border-color: #37A000 !important;}
.form-control select option:hover{
    background-color: #fff !important;
}
.vertical-nav-menu li a:hover{
    background-color: #99e4b7 !important;
    color: #fff;
    font-weight: bold;
}
.dropdown-menu a:hover{
    color: #fff;
    background-color: #99e4b7 !important;
}
